body {
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(gym.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    filter: brightness(100%);
    font-family: 'Kanit', sans-serif;
}

.left {
    display: inline-block;
    /* border: 3px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
    /* width: 30%; */
}

.left img {
    width: 60px;
    filter: invert(100%);
}


.left div {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    line-height: 12px;
    font-size: 25px;


}

.mid {
    /* border: 3px solid green; */
    display: block;
    width: 38%;
    margin: 20px auto;
    text-align: center;
}


.right {
    display: inline-block;
    /* border: 3px solid yellow; */
    position: absolute;
    right: 38px;
    top: 15px;
    /* width: 30%; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 1px;

}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 14px 14px;
    color: greenyellow;
    font-size: 25px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(247, 246, 246);
}

.btn {
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    font-family: 'Kanit', sans-serif;

}

.btn:hover {
    background-color: rgb(54, 51, 51);

}

.container {
    border: 2px solid blueviolet;
    margin: 206px 80px;
    padding: 75px;
    width: 23%;
    border-radius: 28px;
}

.container h1 {
    text-align: center;
}


.form-group input {
    font-family: 'Kanit', sans-serif;
    text-align: left;
    display: block;
    width: 310px;
    padding: 2px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container button {
    display: block;
    width: 75%;
    margin: 20px auto;
}